<div class="row">
    <div class="col-md-7 col-md-offset-1">
        <div class="about-title">
            BHUMIK PATEL from RAJKOT
        </div>
        <div class="about-body">
            <p>From my childhood days I am interested in photography. I started as a hobbyist photographer in 2011 when I was just 12 years old. I used to take photos of my friends and family, whenever I got chance. As I grew up I started to take photographs in wedding and similar occasions for my friends. In 2014 when I completed my studies about photography I started working as a professional photographer. After that I have never looked back and I am very happy to serve my customers and see their smiling faces. I am still learning new things every day to keep myself upgraded.</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="col-md-8 col-md-offset-1">
            <div class="about-photo">
                <img ng-src="https://graph.facebook.com/100005844034921/picture?type=large&width=600&height=600" alt="" />
            </div>
        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="about-title">Our work - VIDEOGRAPHY & PHOTOGRAPHY</div>
        <div class="about-body">
            <ul>
                <li class="our-work-image" > <img ng-src="images/engagement.jpg" /> <br /> <span>Enagagement</span> </li>
                <li class="our-work-image" > <img ng-src="images/prewedding.jpg" /> <br /> <span>Pre-Wedding</span> </li>
                <li class="our-work-image" > <img ng-src="images/wedding.jpg" /> <br /> <span>Wedding</span> </li>
                <li class="our-work-image" > <img ng-src="images/babyshower.jpg" /> <br /> <span>Baby Shower</span> </li>
                <li class="our-work-image" > <img ng-src="images/birthdayparty.jpg" /> <br /> <span>Birthday Party</span> </li>
                <li class="our-work-image" > <img ng-src="images/childrenoutdoor.jpg" /> <br /> <span>Children Outdoor</span> </li>
                <li class="our-work-image" > <img ng-src="images/modelingoutdoor.jpg" /> <br /> <span>Modeling Outdoor</span> </li>
                <li class="our-work-image" > <img ng-src="images/anniversary.jpg" /> <br /> <span>Anniversary</span> </li>
                <li class="our-work-image" > <img ng-src="images/postwedding.jpg" /> <br /> <span>Post-Wedding</span> </li>
                <li class="our-work-image" > <img ng-src="images/candid.jpg" /> <br /> <span>Candid</span> </li>
            </ul>
        </div>
    </div>
</div>